/*
https://stackoverflow.com/questions/59451525/css-add-on-image-a-bagde-to-see-the-online-offline-status
https://www.w3schools.com/bootstrap/bootstrap_badges_labels.asp

*/

.table__tableBody:hover {
  text-decoration: underline;
  background-color: #eaf4f7;
  /* outline: 1px solid #005fa5; */
}

.table__tableBody--has-focus {
  cursor: pointer;
  outline: 1px solid #005fa5; /* #f0f8fa */
  /* background-color: #005fa5; */
  visibility: visible;
}

.table__text-link {
  text-decoration: none;
  line-height: 10px;
  color: black;
}

.table__delete-the-row {
  padding: 16px, 24px;
  margin: 0;
  border: 0;
  background: transparent;
}

.table__delete-the-row:focus {
  outline: 1px solid navy;
}

.table__delete-the-row:hover {
  text-decoration: underline;
  color: white;
  background-color: rgb(201, 32, 32);
}

.table__delete-the-row .MuiSvgIcon-root path {
  fill: rgba(95, 12, 240, 0.959);
}
